Images/* filter=lfs diff=lfs merge=lfs -text
webfonts/* filter=lfs diff=lfs merge=lfs -text
Images/img/Untitled[[:space:]]design[[:space:]](1).mp4 filter=lfs diff=lfs merge=lfs -text
Images/img/*.png filter=lfs diff=lfs merge=lfs -text
